.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    background-color: #08314194;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    display: flex;
    background-color: #333;
  }
li {
    float: left;
}
li {
    font-family: "Dancing Script", cursive;
    font-size: 30px !important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  li a {
    display: block;
    color: rgb(148, 160, 149);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  .hero-image {
    width: 100%;
    height: 150%;
    display: block;
    margin: 0;
    padding: 0;
  }

  .hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(236, 242, 245);
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }
  
  .hero-text h1 {
    font-size: 70px;
    margin: 0;
    background: linear-gradient(to right, #ffffff, #ffc107);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    animation: fadeInZoom 10s ease-in-out infinite;
    opacity: 0;
  }
  @keyframes fadeInZoom {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
h2 {
    font-size: 60px;
    text-align: center;
	margin-bottom: 0;
    font-family: "Creepster", system-ui;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    font-family: "Dancing Script", cursive;
}

#rise_to_glory{
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    background-color: #818581;
    width: 100%;
}

.centered-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
}

.rise-common {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 10px 10px 10px;
}

.rise-common p {
    width: 800px;
	line-height: 1.8;
	padding: 20px;
	font-size: 25px;
    font-family: "Dancing Script", cursive;
}

.rise-common img {
	width: 400px;
	height: 400px;
}
.rise-common img:hover {
    opacity: 1;
    filter: blur(0);
    transform: scale(1.6);
}

#screen {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    background-color: #999891;
    width: 100%;
}

.screen-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: 20px auto;
}
  
.screen-info img {
    width: 200px;
    height: 250;
    object-fit: contain;
  }
  
.screen-text {
    flex: 10;
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

.trailer-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

.trophies-common{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.trophies-common p {
    width: 800px;
	line-height: 1.8;
	padding: 20px;
	font-size: 25px;
    font-family: "Dancing Script";
}

.trophies-common img {
	width: 440px;
	height: 240px;
    object-fit: contain
}

.quote-box {
    font-size: 40px;
    background: #444;
    color: #110d01;
    padding: 20px;
    font-family: "Dancing Script", cursive;
    margin: 30px 0;
  }
  