body {
    margin: 0;
    background-color: black;
    overflow: hidden !important;
}

.stars {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
    z-index: 2;
}

.logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
}

img {
    padding: 50px;
    width: 500px;
}

.info {
    /* display: flex; */
    position: absolute;
    justify-content: flex-start;
    margin-top: 350px;
    padding: 20px;
    border: 2px solid yellow;
    width: 500px;
    height: 300px;
    /* text-align: center; */
    border-radius: 10px;
    transform: translate(-50%);
    left:50%;
    text-align: center;
}

.button {
    background-color: rgb(222, 212, 193);
    position: absolute;
    width: 150px;
    height: 40px;
    margin-top: 700px;
    border-radius: 10px;
    left: 45%;
}

.infoStar {
    font-style: italic;
    color: rgb(238, 231, 236);
    font-size: 25px;
    text-align: center;
}

.loader {
  width: 60px;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 200px;
  margin-bottom: 10px;
  width: 200px;
}

.loader-text {
  color: #fff;
  font-family: arial, sans-serif;
  text-align: center;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
  font-size: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading.';
  }
  67% {
    content: 'Loading..';
  }
  100% {
    content: 'Loading...';
  }
}

.box {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

